{% extends 'base.html' %}

{% block title %}
    Contact Form Confirmations
{% endblock title %}

{% block body %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Successfully submitted!</strong> We Will Contact You As Soon As Possible.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  <div class="container py-5 my-4" style="background-color: white;">
    <h1 class="display-5 fw-bold text-center">Thanks For Contacting us</h1>
    <p class="col-md-8 fs-4">We will see your subject As soon as Possible</p>
    <a href="/" class = "btn btn-primary btn-lg text-white"> Go Home </a>
  </div>
{% endblock body %}